.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 70px;
  }
.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1seg;
    border-radius: 10px;
}
.img-gallery figure {
    margin: 0;
    padding: 0;
    text-align: center; /* Alinea el texto al centro */
}

.img-gallery figcaption {
    font-size: 20px; /* Tamaño del texto */
    margin-top: 5px; /* Espacio entre la imagen y la descripción */
    color: blanchedalmond;
}
